.tooling/
.dart_tool/
.packages
build/
**/local.properties
**/.gradle/
**/Pods/
**/.symlinks/
**/Flutter/ephemeral/
**/Flutter/Generated.xcconfig
**/Flutter/flutter_export_environment.sh
**/xcuserdata/
.DS_Store
*.iml

.idea/
artifacts/
!artifacts/
artifacts/*
!artifacts/SHA256SUMS.txt
!artifacts/trail-capsule-1.1.9-arm64.apk
!artifacts/trail-capsule-1.2.0-arm64.apk
**/.DS_Store
.flutter-plugins
.flutter-plugins-dependencies
integration_response_data.json
ios/Runner/GeneratedPluginRegistrant.*
